{{define "title"}}About{{end}}

{{define "main"}}
<h2>About</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc massa justo, commodo id tincidunt at,
ullamcorper quis elit. Donec id ligula in sapien commodo viverra. Quisque in ligula eget est vehicula vehicula at in mi.
Aenean luctus tellus vitae commodo rutrum. Cras et ornare eros. Aliquam nibh arcu, convallis id nulla eget,
feugiat egestas dui. Vestibulum vitae volutpat libero. Phasellus ultrices mauris est, at scelerisque felis elementum eget.
Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam sagittis, eros at dapibus lobortis,
diam nibh pulvinar metus, eget ultricies ex ipsum vitae est. Aliquam luctus fringilla sem, quis tempus odio eleifend at.</p>
{{end}}
